<div class="form-group col-md-4">
  <h2>Sprockets</h2>
  <button data-toggle="tooltip" title="Horay!" class="btn btn-default"> Hover</button>

  <hr>

  <h2>Webpacker</h2>
  <input class="form-control" id="input-date" type="text">
</div>
